            <p>
            Default Indicator to YouTube that we do or do not wish to have
            "Related Videos" displayed at the end of the playing of our own
            video. This can be overridden on a per-video basis with an argument
            in the shortcode. Please see the documentation below for more info on
            available shortcode arguments.
        </p>
        <p>
            <input name="rvl_options_field[disable_youtube_related_videos]"
                type="checkbox" value="1" {{check_disable_youtube_related}} /> By
            default, indicate to YouTube that I do not wish to have related
            videos displayed.
        </p>
        <p>
            Window Mode (wmode) is traditionally a flash thing that affects
            whether or not the background of your movie is transparent, and also
            can affect whether or not hardware acceleration is used during
            playback. Oddly, with YouTube's iframe embeds (such as those used in
            this plugin), it can also affect z-index. Setting the wmode to
            "transparent" should fix this behavior, but your mileage may vary.
            This will set the wmode behavior globally, but can be overridden with
            a shortcode, described further down this page.
        </p>
        <p>
            <select name="rvl_options_field[youtube_wmode]">
                <option value="none" {% if 'none' == youtube_wmode %}selected="selected"{% endif %}>None</option>
                <option value="transparent" {% if 'transparent' == youtube_wmode %}selected="selected"{% endif %}>Transparent</option>
                <option value="opaque" {% if 'opaque' == youtube_wmode %}selected="selected" {% endif %}>Opaque</option>
            </select>
        </p>
        <p class="submit">
            <input type="submit" class="button-primary" value="Save Changes" />
            <input type="hidden" name="action" value="update" />
        </p>
    </form>

    <h3>Using the Shortcodes</h3>
    <h4>YouTube Videos</h4>
    <p>
        Simply insert the responsive_youtube shortcode anywhere shortcodes can
        be used (posts, pages, wherever). Include either the full URL to the
        video you're embedding (Not the &lt;embed&gt; URL, the full browser
        URL) or just use the video ID. The following two shortcodes would work
        identically: <br />
        <code>[responsive_youtube http://www.youtube.com/watch?v=NbCr0UyoFJA]</code>
        <br />
        <code>[responsive_youtube NbCr0UyoFJA]</code>
    </p>
    <h5>YouTube's "Related Videos"</h5>
    <p>
        When a YouTube video is done playing, it will typically tile a
        selection related videos inside its viewport. If you want to control
        whether or not those are shown on a per-video basis, you can use the
        <code>rel</code>
        or
        <code>norel</code>
        options to turn related videos on and off respectively, like this: <br />
        <code>[responsive_youtube NbCr0UyoFJA rel]</code>
        <br />
        <code>[responsive_youtube NbCr0UyoFJA norel]</code>
    </p>
    <p>Of course, there's an option to tell YouTube that we'd like not to
        see related videos on a global level on this page, but you can
        override it on individual videos using these options.</p>
    <h5>YouTube's "wmode" Parameter</h5>
    <p>
        This plugin supports three possible variations of "wmode": None,
        Transparent, and Opaque. You can set this option globally further up
        this page, but if you only need it on a per-video basis occasionally,
        or need to override the default behavior, you can set it this way: <br />
        <code>[responsive_youtube NbCr0UyoFJA wmode_none]</code>
        <br />
        <code>[responsive_youtube NbCr0UyoFJA wmode_transparent]</code>
        <br />
        <code>[responsive_youtube NbCr0UyoFJA wmode_opaque]</code>
    </p>
    <p>
        Of course, you can also combine rel or norel and the wmode parameters
        if you need, like this: <br />
        <code>[responsive_youtube NbCr0UyoFJA wmode_transparent norel]</code>
    </p>

    <h4>Vimeo Videos</h4>
    <p>
        Simply insert the responsive_vimeo shortcode anywhere shortcodes can be
        used (posts, pages, wherever). Include either the full URL to the
        video you're embedding (Not the &lt;embed&gt; URL, the full browser
        URL) or just use the video ID. The following two shortcodes would work
        identically: <br />
        <code>[responsive_vimeo https://vimeo.com/29506088]</code>
        <br />
        <code>[responsive_vimeo 29506088]</code>
    </p>
    <h5>Extra Vimeo Options</h5>
    <p>Vimeo allows a small amount of control concerning the information
        overlaid onto the posterframe when the video is initially loaded.
        These parameters will control the visibility of those elements.</p>
    <ul>
        <li>title, notitle - Display the video title (or not, shows by default)</li>
        <li>byline, nobyline - Display the byline (or not, shows by default)</li>
        <li>portrait, noportrait - Display the user portrait (or not, shows by default)</li>
        <li>
            notab - No Title, Byline, or Portrait, all wrapped into a single
            parameter ("tab" means Title Author Byline)
        </li>
    </ul>
</div>

<h4>Miscellany</h4>
<p>
    You can use more than one responsive shortcode in any given post or
    page, And you can mix types as well (Vimeo and YouTube).
</p>